p {
  color: blue;
  font-size: 30px;
  text-align: justify;
  text-transform: uppercase;
  line-height: 1.6;
  letter-spacing: 2px;
  word-spacing: 5px;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
}
